<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink= "dashboard"> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="batch">BatchMaster</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="candidate">Candidates</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" routerLink="enrollment"> Enrollment</a>
                </li>
                
                 
            </ul>
            <form class="d-flex">

                 <select name="" id="" (change)="onRoleChanhe( )"  class="">
                    <option value="Guest">Guest</option>
                     <option value="Admin">Admin</option>
                 </select>
                 <button class="btn btn outline-white text-white" type="button">{{loggedUserData?.email}}</button>
                 <button class="btn btn-primary" type="button" (click)="OnLogoff()">LogOff</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>